@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#heading{
height: 120px;
background: #040404;
font-family: 'Montserrat' --sans-serif;
/* font-style: normal; */
font-weight: 700;
color: #FFFFFF;
}

#heading1{
    display: flex;
    margin-left: 20px;
    padding-top: 20px;
    /* justify-content: left; */
    font-size: 45px;
}

#container-fluid1{
    /* position: absolute; */
    width: 100%;
    height: 20px;
    top: 120px;
    /* background-image: url(/assets/Screenshot\ \(7\).png); */
    /* background: url(/assets/france.jpg);     */
}
@media screen and (max-width: 600px) {
    .content {
      font-size: 10px;
    }
  }
#content{
    /* font-size:10vw; */
    position:relative;
    /* width: 100%; */
    /* height: 390px; */
    padding:50px  ;
    /* display: flex; */
    /* flex-wrap: wrap; */
    font-size: 44px;
    font-family: 'Montserrat', sans-serif;
    /* font-style: normal; */
    font-weight: 400;
    /* font-size: 64px; */
    /* line-height: 78px; */
    color: #000000;

}
.ulc{
    width:auto ;
    height: 8px;
    background-image: url(/assets/Screenshot\ \(7\).png);
    /* background-color: aqua; */
}
#button{
    margin-top:25px ;
    /* background-color: #9FA6B2; */
    padding:50px ;
}
#utopictxt{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;

}
#txt1{
    font-size: 20px;
    font-family: 'Montserrat';
font-weight: 700;
color: #000000;
}
#powerhouse{
    /* background-color: aqua; */
    display: flex;
    color:white;
    margin-top:20px ;
    /* align-items: center; */
    justify-content: center;
}
.formm{
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px ;
}
#imgtext{
    background-image:url(/assets/get_started_bg.jpg) ;
    height: 500px;
    width: 400px;
    padding:150px ;
}

#today{
    padding:150px 20px 0px 0px;
    /* margin: 80px; */

    font-weight:600 ;
    font-size: 20px;
    /* background-color: aqua; */
}
.input-grey .form-control {
    /* border-radius: .125rem; */
  }
  
  .form-control:focus {
    /* background-color: rgba(249, 43, 43, 0.3); */
  }

  .input-grey input::placeholder {
    /* color: rgb(224, 18, 18); */
  }
.img{
    background-image: url("/assets/Screenshot\ \(7\).png");
}

#aoe{
    font-size: 48px;
    /* position: absolute; */
/* width: 402px; */
/* height: 73px; */
/* left: 80px; */
/* top: 336px; */

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 49px;
display: flex;
/* align-items: center; */

color: #000000;


}
.container2 {
    margin: auto;
    width: auto;
  }
  
  .gallery-wrap {
    display: flex;
    flex-direction: row;
    width:100%;
    height:100%;
  }
  
  .item {
    flex: 1;
    height: 377px;
    width: 80%;
    background-position: center;
    background-color: white;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
  }
  .item:hover {
    flex: 5;
  }
  
  .item-1 {
    background-image: url("/assets/get_started_bg.jpg");
  }
  
  .item-2 {
    background-image: url("/assets/demo-image-01.jpg");
  }
  
  .item-3 {
    background-image: url("/assets/demo-image-02.jpg");
  }
  
  .item-4 {
    background-image: url("/assets/insight_bg.jpg");
  }
  
  .item-5 {
    background-image: url("/assets/login_bg.jpg");
  }
  








#d-inline-flex2{
    position: absolute;
    width: 402px;
    height: 1500px;
    left: 80px;
    top: 336px;
    
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    font-weight: 799;
    font-size: 40px;
    line-height: 49px;
    display: flex;
    align-items: center;
    
    color: #000000;
    
}

.d-inline-flex3{
    position: absolute;
width: 1283px;
height: 173px;
left: 80px;
top: 1100px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;

color: #000000;
}

.container4{
    position: absolute;
width: 514px;
height: 345px;
left: 850px;
top: 1350px;

background: #D9D9D9;
}
    
.d-inline-flex4{
    position: absolute;
width: 441px;
height: 55px;
left: 80px;
top: 1320px;

font-family: 'Montserrat' --sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;

color: #000000;
}

.d-inline-flex5{
    position: absolute;
    width: 441px;
    height: 55px;
    left: 80px;
    top: 1370px;
    
    font-family: 'Montserrat' --sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    
    color: #000000;
}

.d-inline-flex6{
    position: absolute;
    width: 441px;
    height: 55px;
    left: 80px;
    top: 1420px;
    
    font-family: 'Montserrat' --sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    
    color: #000000;
}

.d-inline-flex7{
    position: absolute;
    width: 441px;
    height: 55px;
    left: 80px;
    top: 1470px;
    
    font-family: 'Montserrat' --sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    
    color: #000000;
}
.d-inline-flex8{
    position: absolute;
    width: 441px;
    height: 55px;
    left: 80px;
    top: 1520px;
    
    font-family: 'Montserrat' --sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    
    color: #000000;
}
.d-inline-flex9{
    position: absolute;
    width: 441px;
    height: 55px;
    left: 80px;
    top: 1570px;
    
    font-family: 'Montserrat' --sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    
    color: #000000;
}
.d-inline-flex10{
    position: absolute;
    width: 441px;
    height: 55px;
    left: 80px;
    top: 1620px;
    
    font-family: 'Montserrat' --sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    
    color: #000000;
}

.d-inline-flex11{
    position: absolute;
    width: 441px;
    height: 55px;
    left: 80px;
    top: 1670px;
    
    font-family: 'Montserrat' --sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    
    color: #000000;
}

