
.section{
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.section h1{
    text-align: center;
    font-size: 8rem;
    /* background: #eee; */
    /* padding: 20px 20px; */
    margin: 35px;
    z-index: 1;
    /* background-color: rebeccapurple; */
}
.video-container{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    width: 100%;
}
.color-overlay{
    position: relative;
    top: 0;
    left: 0;
    /* background-color: aquamarine; */
    width: 100%;
    height: 100vh;
    opacity: 0.5;
}

