.u-section-1 .u-sheet-1 {
  min-height: 1523px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 4.5%;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 462px;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 20px;
}

.u-section-1 .u-image-1 {
  position: relative;
  margin-bottom: 1%;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 462px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0px 56px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  margin: 2px 0 0 15px;
}

.u-section-1 .u-text-2 {
  margin: 28px 0 0;
}

.u-section-1 .u-image-2 {
  width: 763px;
  height: 436px;
  margin: 28px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1443px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 450px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    height: 437px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1728px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 461px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 461px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-top: 0;
    /* margin-left: 5%; */
  }

  .u-section-1 .u-image-2 {
    height: 412px;
    margin-top: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2781px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 678px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 702px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 18px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1227px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 427px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 528px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 4.5%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-text-1 {
  margin: -42px 0 59px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-bottom: 17px;
    
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -46px;
    margin-bottom: 60px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1092px;
}

/* navbar start  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-area {
  background: rgba(0, 0, 0, 255);
  width: 100%;
  /* padding: 12px 30px; */
  z-index: 999;
  /* border-bottom: 2px solid #909090ad; */
  /* box-shadow: 0px 0px 7px 3px red; */
}
.header-container {
  display: table;
  width: 100%;
  /* margin: auto; */
}

.site-logo {
  float: left;
  margin: 0vh 6vh;
  /* width: 00vh; */
  padding: 17px 0px;
}
.site-logo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
}
.site-logo span {
  color: #120c0a;
}
.site-nav-menu {
  float: right;
  
}
.primary-menu {
  list-style: none;
}
.primary-menu li {
  display: inline-block;
  margin: 21px 5px;
}
.primary-menu a {
  color: #fff;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 15px 10px;
  transition: 0.5s;
}
.primary-menu a:hover,
.primary-menu .active {
  color: lightgrey;
}
.primary-menu li a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: lightgrey;
  bottom: 0px;
  left: 0;
  transition: all 0.5s;
}
.primary-menu li a:hover:after {
  width: 100%;
}
.primary-menu li .active:after {
  width: 100%;
}
.mobile-nav {
  display: none;
}
.mobile-nav i {
  float: right;
  margin: 10px;
  padding: 10px;
  font-size: 24px;
  color: #fff;
  outline: none;
  cursor: pointer;
}

section#hero-section {
  width: 100%;
  height: 100vh;
  /* background: url(../img/ny_nu1it.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Responsive css */

@media only screen and (max-width: 900px) {
  .site-nav-menu {
    float: none;
    position: absolute;
    background: #142440;
    width: 100%;
    left: 0;
    top: 85px;
    padding: 30px 0px 150px 0px;
    border-top: 1px solid #4a4848;
    clip-path: circle(0% at 100% 0%);
    transition: all 0.8s;
  }
  .primary-menu li {
    display: block;
    text-align: center;
    margin: 25px 5px;
  }
  .mobile-nav {
    display: block;
  }
  .mobile-menu {
    clip-path: circle(112% at 100% 0%);
  }
  .primary-menu li a:after {
    display: none;
  }
}



#container-fluid1 {
  width: 100%;
  height: 20px;
  background-image: url(/assets/ombre\ line-01.png);
}
