.custom-images img {
  width: 100%;
  height:auto;
}
/* .collapse,
.collapsing {
  
  overflow: auto;
  max-height: 40vh;
} */



#acord{
  font-size: 2.5vh;
   font-family: 'Montserrat', sans-serif; 
    font-weight: 700
}
#acordtxt{
  font-family: 'Montserrat', sans-serif; 
  /* font-weight: 300; */
  /* font-size: 1vh; */
}





.collapse.in, .collapse{
  height: 50vh;
  overflow-y: scroll;
  /* max-height:35vh; */
}
#instrument.collapsing{
    /* max-height:30vh; */
}

.rm{
  font-size: large;
  /* background-color: aqua; */
  font-weight:600;
}