@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
/* {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
}  */


/* social meedia icon css start */
*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}


#social {
  display: grid;
  /* justify-content: center; */
  /* height: 40%; */
  /* width: 100%; */
  /* padding-left: 13vh; */
  /* font-family: "Poppins", sans-serif; */
  /* place-items: center; */
  /* background: linear-gradient(315deg, #ffffff, #d7e1ec); */
}

.wrapper {
  /* justify-content: center; */
  display: inline-flex;
  /* list-style: none; */
  /* background-color:; */
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin:1vh;
  width: 4vh;
  height: 4vh;
  font-size: 2.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  /* padding: 5px 8px; */
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  /* transition: all 0.3s cubic-bezier(1.68, 1.55, 1.265, 1.55); */
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  /* height: 8px; */
  /* width: 8px; */
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  /* transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

/* .wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
} */

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}
/* css end  */


/* btn css start  */

.frame {
    /* width: 90%; */
    /* margin: 5vh 8vh; */
    /* margin:12px; */
    /* padding: 4vh ; */
    background-color: rgba(251,250,253,255);
   
    padding:45px 62px  ;
    /* margin-left: 5vh; */
    /* border-radius: 20px 120px 120px; */

  }
  button {
    /* margin: 30px 130px; */
    outline: none;
    /* background-color: #1877F2; */
    /* margin-left: 7vh; */
  }
  .custom-btn {
    /* height: 30px; */
     margin: 1vh 3.6vh ; 
    padding: 10px 32px;
    display: grid;
    align-content: center;
    justify-content: center;
    border: 2px solid #000;
    /* background-color: #1877F2; */
    font-family: 'Montserrat';
    /* font-family: 'Lato', sans-serif; */
    font-weight: 300;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
  
.btn-15 {
    background: #000;
    display: grid;
    align-content: center;
    justify-content: center;
   color: #fff;
   z-index: 1;
 }
 .btn-15:after {
   position: absolute;
   content: "";
   width: 0;
   height: 100%;
   top: 0;
   right: 0;
   z-index: -1;
    background: #e0e5ec;
   transition: all 0.3s ease;
 }
 .btn-15:hover {
   color: #000;
 }
 .btn-15:hover:after {
   left: 0;
   width: 100%;
 }
 .btn-15:active {
   top: 2px;
 } 
 
/* btn css end  */



#heading{
  display:grid;
  justify-content: left;
background: #040404;
font-family: 'Montserrat';
font-weight: 700;
color: #FFFFFF;
} 
.header_social img {
    width: 23px;
    margin-left: 11px;
}

#headingg{
    display: flex;
    padding: 0vh 5vh;
    margin-left: 4vh;
    font-size: 5vh;
}

#container-fluid1{
    width: 100%;
    height: 20px;
    background-image: url(/assets/ombre\ line-01.png);
   
}

#content{
    position:absolute;
    font-family: 'Montserrat';
    font-weight: 300;
    line-height: 49px;
    display: flex;
    margin: 5vh 4vh ;
    padding:45px 50px  ;
    font-size: 40px;
    color: #0d0d0d;
}

.ulc{
    width:auto ;
    height: 8px;
    background-image: url(/assets/Screenshot\ \(7\).png);
    /* background-color: aqua; */
}
#button{
    /* margin-top:15px ; */
    /* background-color: #9FA6B2; */
    /* padding:50px ; */
    padding-left: 50px;
    padding-bottom: 30px;
}
#utopictxt{
font-family: 'Montserrat';
margin: 2vh 4vh ;
padding:0vh 6vh ;
font-style: normal;
/* font-weight: 400; */
font-size: 2vh;
line-height: 24px;
display: flex;
}
#aoe{
  font-size: 48px;
  margin: 3vh 4vh ;
  padding:2vh 6vh  ;
  font-family: 'Montserrat';
font-weight: 800;
font-style: bold;
font-size: 40px;
line-height: 49px;
display: flex;
color: #000000;


}
#txt1{
    font-size: 20px;
    font-family: 'Montserrat';
font-weight: 700;
color: #000000;
}
#powerhouse{
    margin-top: 45px;
    font-size: 46px;
    font-weight: 500;
    font-family: 'Montserrat';
    display: flex;
    color:white;
    justify-content: center;
}

.text-field-dark.cc-subscribe-input {
  width: 350px;
  margin-right: 10px;
  background-color: hsla(0, 0%, 100%, 0.2);
  -webkit-transition: border 400ms ease;
  transition: border 400ms ease;
  font-weight: 600;
  text-align: left;
  letter-spacing: 1.3px;
}
.text-field-dark {
  width: auto;
  height: 54px;
  margin-bottom: 0px;
  padding: 18px 24px;
  border-color: #2f303e;
  border-radius: 0px;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.white-button {
  position: relative;
  display: inline-block;
  padding: 18px 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom-style: none;
  border-radius: 0px;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgb(29 31 46 / 10%);
  -webkit-transition: background-color 400ms ease, opacity 400ms ease, box-shadow 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease, box-shadow 400ms ease;
  color: #1d1f2e;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.formm{
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px ;
}
#imgtext{
    background-image:url(/assets/pexel.jpg) ;
    background-repeat: no-repeat;
    /* background-color: aqua; */
    /* margin:10vh ; */
    /* height: 35vh; */
    /* width: 400px; */
    /* padding:20vh 25vh ; */
}

#today{
    
    font-family: 'Montserrat', sans-serif;
    /* padding:10px 20px 0px 0px; */
    margin: 3vh 4vh ;
    padding:2vh 5vh  ;
    /* font-weight:400 ; */
    /* font-size: 20px; */
    /* background-color: rgb(68, 255, 0); */
}
.img{
    background-image: url("/assets/Screenshot\ \(7\).png");
}
#utext{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 2vh;
    margin: 2vh 4vh ;
padding:0vh 6vh ;
    /* font-weight: 600; */
}

#insight{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    margin: 3vh 4vh ;
    padding:2vh 4vh  ;
    /* background-color: #db2525; */
    /* margin-top: 35px; */
    /* margin: 30px; */
    /* line-height: 24px; */
    /* display: flex; */
    /* align-items: center; */

}
#viewall{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    margin: 3vh 4vh ;
    padding:2vh 6vh  ;
    font-size: 34px;
    margin-top: 35px;
    color: #040404;
}
#atag{
  font-size: 2.2vh;
  padding-top: 1vh;
    color:black ;
    font-weight: 700;
}

.container2 {
    margin: auto;
    /* width: auto; */
  }
  
  .gallery-wrap {
    display: flex;
    flex-direction: row;
    width:100%;
    height:100%;
  }
  
  .item {
    flex: 1;
    height: 377px;
    width: 80%;
    background-position: center;
    background-color: white;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
  }
  .item:hover {
    flex: 5;
  }
  
  .item-1 {
    background-image: url("/assets/Righty.jpeg");
  }
  
  .item-2 {
    background-image: url("/assets/pexel.jpg");
  }
  
  .item-3 {
    background-image: url("/assets/danis.jpg");
  }


  /* submit btn css  */
  
:root {
  --squish-animation-time: 500ms;
  --progress-animation-time: 1000ms;
  --circle-animation-time: 300ms;
  --checkmark-animation-time: 300ms;
  --btn-width: 125px;
  --btn-height: 40px;
}

.btn {
  position: relative;
  background-color: #2B2D2F;
  color: #71df80;
  border: none;
  border-radius: .125em;
  width: var(--btn-width);
  height: var(--btn-height);
  font-weight: bold;
  cursor: pointer;
  padding: 0;
}

.btn.animating {
  background-color: transparent;
  color: transparent;
  user-select: none;
  cursor: default;
  animation: hide 0ms calc(var(--squish-animation-time) + var(--progress-animation-time)) forwards;
}

.btn::before {
  content: "";
  display: none;
  position: absolute;
  background-color: #2B2D2F;
  inset: 0;
  border-radius: .125em;
  animation: squish var(--squish-animation-time) cubic-bezier(0.26, 0.6, 0.46, 1.7);
  animation-fill-mode: forwards;
}


.btn::after {
  content: "";
  display: none;
  position: absolute;
  background-color: #AAA;
  left: 51%;
  right: 51%;
  top: 45%;
  bottom: 45%;
  border-radius: .25em;
  animation: progress var(--progress-animation-time) var(--squish-animation-time);
  animation-fill-mode: forwards;
}

.btn.animating::before,
.btn.animating::after {
  display: block;
}

.btn.animating + .checkmark-container {
  background-color: #2280de;
  border-radius: .25em;
  width: 0;
  height: 0;
  animation: circle var(--circle-animation-time) calc(var(--squish-animation-time) + var(--progress-animation-time)) forwards cubic-bezier(0.26, 0.6, 0.46, 1.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.animating + .checkmark-container .checkmark-svg {
  stroke: white;
  width: 25px;
  stroke-dashoffset: 40.84104919433594;
  stroke-dasharray: 40.84104919433594;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
  animation: checkmark var(--circle-animation-time) calc(var(--squish-animation-time) + var(--progress-animation-time) + var(--circle-animation-time)) forwards;
}

@keyframes squish {
  100% {
    left: -25%;
    right: -25%;
    top: 45%;
    bottom: 45%;
    border-radius: .25em;
  }
}

@keyframes progress {
  100% {
    left: -25%;
    right: -25%;
  }
}

@keyframes hide {
  100% {
    width: 0;
    height: 0;
  }
}

@keyframes circle {
  0% {
    width: calc(var(--btn-width) * 1.50);
    height: calc(var(--btn-height) * .1);
  }
  100% {
    background-color: #14d758;
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
}

@keyframes checkmark {
  100% {
    stroke-dashoffset: 0;
  }
}
 /* css end  */


  @media screen and (max-width:500px)
 {
    
#container-fluid1{
     height: 20px;
    background-image: url(/assets/ombre\ line-01.png);
   
}
#heading{
    background: #040404;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #FFFFFF;
    }
#content{
        font-size:2.5vh;  
    }
 #utopictxt{
        
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2vh;
    /* line-height: 24px; */
    display: flex;
    align-items: center;
    }
 #powerhouse{
        font-family: 'Montserrat';
        font-size: 17px;
        font-weight: 700;
        
        display: flex;
        color:white;
        padding-left: 4vh;
        /* display: grid; */
        /* margin-top:20px ; */
        /* margin-bottom: 30px; */
        /* align-items: center; */
        /* justify-content: center; */
    }
#demoo{
  /* background-color: #1877F2; */
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 700;
  display: flex;
  color:white;
  padding-top: 5vh;
  padding-left: 5vh;
}
    
#submitbtn{
  padding-left: 4vh;
  padding-right: 2vh;
}   
   
#today{
    
    font-family: 'Montserrat', sans-serif;
    /* padding:1px 2px 0px 0px; */
    /* margin: 40px 40px; */
    /* background-color: aqua; */
    font-weight:200 ;
    font-size: 1vh;
    /* background-color: rgb(68, 255, 0); */
} 
#imgtext{
    background-image:url(/assets/get_started_bg.jpg) ;
    /* background-color: aqua; */
    margin:10px ;
    height: auto;
    /* width: 400px; */
    /* padding:120px ; */
}

#insight{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin-top: 35px;
    /* margin: 30px; */
    /* line-height: 24px; */
    /* display: flex; */
    /* align-items: center; */

}
#viewall{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin-top: 35px;
    color: #040404;
}

#utext{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 200;
}

/* btn css start  */

.frame {
  /* width: 90%; */
  /* margin: 5vh 8vh; */
  /* margin:12px; */
  /* padding: 4vh ; */
  background-color: rgba(251,250,253,255);
 
  /* padding:45px 62px  ; */
  /* margin-left: 5vh; */
  /* border-radius: 20px 120px 120px; */

}
button {
  /* margin: 30px 130px; */
  outline: none;
  /* background-color: #1877F2; */
  /* margin-left: 7vh; */
}
.custom-btn {
  /* height: 30px; */
   margin: 1vh 4vh ; 
  /* padding: 10px 25px; */
  display: grid;
  align-content: center;
  justify-content: center;
  border: 2px solid #000;
  /* background-color: #1877F2; */
  font-family: 'Montserrat';
  /* font-family: 'Lato', sans-serif; */
  font-weight: 300;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-15 {
  background: #000;
  display: grid;
  align-content: center;
  justify-content: center;
 color: #fff;
 z-index: 1;
}
.btn-15:after {
 position: absolute;
 content: "";
 width: 0;
 height: 100%;
 top: 0;
 right: 0;
 z-index: -1;
  background: #e0e5ec;
 transition: all 0.3s ease;
}
.btn-15:hover {
 color: #000;
}
.btn-15:hover:after {
 left: 0;
 width: 100%;
}
.btn-15:active {
 top: 2px;
} 

/* btn css end  */


#today{
    
  font-family: 'Montserrat', sans-serif;
  /* padding:10px 20px 0px 0px; */
  /* margin: 3vh 4vh ; */
  /* padding:2vh 5vh  ; */
  /* font-weight:400 ; */
  /* font-size: 20px; */
  /* background-color: rgb(68, 255, 0); */
}
.img{
  background-image: url("/assets/Screenshot\ \(7\).png");
}






}
@media screen and (max-width: 300px)
 {

    .content{
        font-size: 35px;
        padding: 3px 3px        /* margin: 1px 1px; */
        /* padding: ; */
    }


.frame {
  /* width: 90%; */
  margin: 0vh 0vh;
  /* margin:12px; */
  /* padding: 4vh ; */
  /* background-color: #1877F2; */
 
  /* padding:45px 40px  ; */
  /* margin-left: 5vh; */
  /* border-radius: 20px 120px 120px; */

}
.custom-btn {
  /* height: 30px; */
   margin: 1vh 3vh ; 
  /* padding: 10px 25px; */
  display: grid;
  /* align-content: center; */
  /* justify-content: center; */
  border: 2px solid #000;
  background-color: #1877F2;
  font-family: 'Montserrat';
  /* font-family: 'Lato', sans-serif; */
  font-weight: 300;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-15 {
  background: #000;
  display: grid;
  /* align-content: center; */
  /* justify-content: center; */
 color: #fff;
 z-index: 1;
}
.btn-15:after {
 position: absolute;
 content: "";
 width: 0;
 height: 100%;
 top: 0;
 right: 0;
 z-index: -1;
  background: #e0e5ec;
 transition: all 0.3s ease;
}
.btn-15:hover {
 color: #000;
}
.btn-15:hover:after {
 left: 0;
 width: 100%;
}
.btn-15:active {
 top: 2px;
} 


#powerhouse{
  /* background-color: aqua; */
  font-size: 24px;
  padding-left: 6vh;
  display: flex;
  color:white;
  /* display: grid; */
  /* margin-top:20px ; */
  /* margin-bottom: 30px; */
  /* align-items: center; */
  /* justify-content: center; */
}
#submitbtn{
  padding-left: 4vh;
  padding-right: 2vh;
}     
 

}

